* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #eef1f2;
    --dark-color: #333;
    --max-width: 1100px;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4rem;
    background: var(--light-color);
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'staatliches';
    margin-bottom: .7rem;
}

/* =============================================================== Utility ----------------------------------- */
.category {
    display: inline-block;
    padding: .4rem 1rem;
    border-radius: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.category-sports {
    background: #ffa500;
}

.category-entertainment {
    background: #993299;
}

.category-technology {
    background: #296da9;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    /* In case if .btn class is applied for a button */
    border: none;
    border-radius: .2rem;
    margin: 1rem 0rem;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-primary:hover {
    opacity: 0.8;
}

.card {
    background: #fff;
    padding: 1rem;
}

/* =============================================================== Nav Section ----------------------------------- */
nav {
    background: #fff;
}

.nav-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 5fr 4fr 2fr;
    align-items: center;
}

.nav-container .logo {
    width: 9rem;
}

.nav-container .social-link a i {
    margin: 0 .5rem;
    color: #777;
}

.nav-container .link ul {
    display: flex;

}

.nav-container .link ul li a {
    padding: .5rem .8rem;
    font-weight: 500;
}

.nav-container .link ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color);
}

.nav-container .link ul li .current {
    background: var(--primary-color);
    color: #fff;
}

/* =============================================================== Showcase Section ----------------------------------- */
header {
    color: #fff;
    background: #333;
    /* Before psuedo selector is placed with in the header */
    position: relative;
}

header::before {
    content: '';
    background: url('http://drive.google.com/uc?export=view&id=1bwfTxgb1zG43bmAWjLRlt6U8AOi6oVU6') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.showcase-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.showcase-container .showcase-content {
    z-index: 1;
}

/* =============================================================== Articles section ----------------------------------- */
main .articles-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
}

main .article-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

/* First child of any element (*) */
main .article-content>*:first-child,
main .article-content>*:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 1 / span 2;
    align-items: center;
}

main .article-content>*:last-child {
    grid-column: 2 / span 2;
}